<div class="container">
  <div class="row">
    <div class="box">
      <div class="col-lg-12">
        <hr>
        <h2 class="intro-text text-center">Hosting a Function?</h2>
        <hr>
        <hr class="visible-xs">
        <p>Wooden Horse Restaurant is the perfect place to hold your special event. Suitable for small and large group bookings, we have a variety of options that are sure to suit events ranging from:</p>
        <ul>
          <li>Birthdays</li>
          <li>Engagements</li>
          <li>Corporate Functions</li>
          <li>Weddings</li>
          <li>Festive Parties</li>
        </ul>
        <p><%= link_to 'Download our 2016 event package here.', functions_pdf_url %></p>
        <p>If you would like to enquire about your specific requirements, please send us an online enquiry through the contact section on our website and a member from our management team will be in contact shortly.</p> 
      </div>
    </div>
  </div>
</div>
