<div class="container">
  <div class="row">
    <div class="box">
      <div class="col-lg-12">
        <hr>
        <h2 class="intro-text text-center">Our Drinks Menu</h2>
        <hr>
        <div class="table-responsive">
          <table class="table">
            <tr>
              <th style="width:70%">Wine by the Bottle</th>
              <th></th>
            </tr>
            <tr>
              <td style="width:70%"><i>Sparkling</i></td>
              <td></td>
            </tr>
            <tr>
              <td style="width:70%">Redbank Ellora Vintage Chardonnay Pinot Noir`13, King Valley VIC</td>
              <td>$50</td>
            </tr>
            <tr>
              <td style="width:70%">Cester Dasogno Prosecco NV, ITY</td>
              <td>$53</td>
            </tr>
            <tr>
              <td style="width:70%">Deviation Road Altair Sparkling Rose NV, Adelaide Hills SA</td>
              <td>$65</td>
            </tr>
            <tr>
              <td style="width:70%">Pol Roger Brut Reserve NV, FRA</td>
              <td>$130</td>
            </tr>
            <tr>
              <td style="width:70%"><i>White</i></td>
              <td></td>
            </tr>
            <tr>
              <td style="width:70%">Chaffey Bros. Not your Grandma’s Riesling `15, Eden Valley SA</td>
              <td>$50</td>
            </tr>
            <tr>
              <td style="width:70%">Critteden Estate, Pinocchio Pinot Grigio `15, Mornington Peninsula VIC</td>
              <td>$60</td>
            </tr>
            <tr>
              <td style="width:70%">Collefrisio Vignaquadra Pecorino `15,Abruzzo ITY </td>
              <td>$45</td>
            </tr>
            <tr>
              <td style="width:70%">Hugel Et Fils Pinot Blanc `13, Alsace FRA</td>
              <td>$52</td>
            </tr>
            <tr>
              <td style="width:70%">Greywacke Sauvignon Blanc `14, Marlborough NZ</td>
              <td>$58</td>
            </tr>
            <tr>
              <td style="width:70%">Livon Braide Alte Gran Cru `11, Udine ITA</td>
              <td>$120</td>
            </tr>
            <tr>
              <td style="width:70%">Pala i Fiori Vermentino Di Sardegna `15, ITY</td>
              <td>$45</td>
            </tr>
            <tr>
              <td style="width:70%">Hill-Smith Estate Chardonnay `15, Adelaide Hills SA</td>
              <td>$63</td>
            </tr>
            <tr>
              <td style="width:70%">Terra di Granito Viognier `14, Granite Belt QLD</td>
              <td>$50</td>
            </tr>
            <tr>
              <td style="width:70%"><i>Rose</i></td>
              <td></td>
            </tr>
            <tr>
              <td style="width:70%">Langmeil Bella Rouge Rose `15, Barossa SA</td>
              <td>$45</td>
            </tr>
            <tr>
              <td style="width:70%">Chateau de L'Aumerade Marie Christine Rose `14, Provence FRA</td>
              <td>$72</td>
            </tr>
            <tr>
              <td style="width:70%"><i>Red</i></td>
              <td></td>
            </tr>
            <tr>
              <td style="width:70%">Santuario Malbec/Shiraz `14, Mendoza ARG</td>
              <td>$50</td>
            </tr>
            <tr>
              <td style="width:70%">Heathcote Cravens Place Shiraz `15, Heathcote VIC</td>
              <td>$54</td>
            </tr>
            <tr>
              <td style="width:70%">Yalumba ‘The Octavius’ Old Vine Shiraz `12, Barossa, SA</td>
              <td>$130</td>
            </tr>
            <tr>
              <td style="width:70%">Rob Hall Cabernet `15, Yarra Valley VIC</td>
              <td>$60</td>
            </tr>
            <tr>
              <td style="width:70%">Bleasdale ‘The Iron Duke’ Cabernet Sauvignon `12, Langhorne Creek, SA</td>
              <td>$115</td>
            </tr>
            <tr>
              <td style="width:70%">Crittenden Estate `14, Geppetto Pinot Noir, MP VIC</td>
              <td>$62</td>
            </tr>
            <tr>
              <td style="width:70%">Jericho GSM `15, McLaren Vale, SA</td>
              <td>$46</td>
            </tr>
            <tr>
              <td style="width:70%">Torres Ibericos Alta Rioja `12, Penedes ESP</td>
              <td>$49</td>
            </tr>
            <tr>
              <td style="width:70%">Lunaria Coste di moro Montepulciano `12, Abruzzo ITA</td>
              <td>$75</td>
            </tr>
            <tr>
              <td style="width:70%">Chateau Musar Jeune Red `12, Bekka Valley LEB</td>
              <td>$62</td>
            </tr>
            <tr>
              <td style="width:70%">Donatella Cinelli Colombini Brunello Sangiovese `07, Tuscany ITA</td>
              <td>$185</td>
            </tr>
          </table>
        </div>
        </br>
        <div class="table-responsive">
          <table class="table">
            <tr>
              <th style="width:70%">Cocktails</th>
              <th></th>
            </tr>
            <tr>
              <td style="width:70%">Two of Us</br>golden rum | lime | mint | grapefruit bitters | ginger</td>
              <td>$28 ~ to share</td>
            </tr>
            <tr>
              <td style="width:70%">Lucy in the Sky With Diamonds</br>vodka | apricot brandy | rose | lemon | pineapple | pistachio dust</td>
              <td>$16</td>
            </tr>
            <tr>
              <td style="width:70%">Day Tripper</br>tequila | triple sec | watermelon | lime |agave | salt</td>
              <td>$16</td>
            </tr>
            <tr>
              <td style="width:70%">Dizzy Miss Lizzy</br>gin | lime | mint | gomme</td>
              <td>$16</td>
            </tr>
            <tr>
              <td style="width:70%">Long Tall Sally</br>gin | peach liqueur | campari | passionfruit | lemon | gomme</td>
              <td>$16</td>
            </tr>
            <tr>
              <td style="width:70%">A Hard Day’s Night</br>bourbon whiskey | elderflower | apple | bitters | burnt rosemary</td>
              <td>$18</td>
            </tr>
            <tr>
              <td style="width:70%">Savoy Truffle</br>spiced rum | kahlua | espresso | maple syrup |chocolate bitters</td>
              <td>$18</td>
            </tr>
          </table>
        </div>
        </br>
        <div class="table-responsive">
          <table class="table">
            <tr>
              <th style="width:70%">The Bar Fridge</th>
              <th></th>
            </tr>
            <tr>
              <td style="width:70%"><i>Lager</i></td>
              <td></td>
            </tr>
            <tr>
              <td style="width:70%">Coopers Premium Light</td>
              <td>$6</td>
            </tr>
            <tr>
              <td style="width:70%">East 9th  Doss Blockos Pale Lager </td>
              <td>$8</td>
            </tr>
            <tr>
              <td style="width:70%">Stone & Wood Green Coast Lager</td>
              <td>$9</td>
            </tr>
            <tr>
              <td style="width:70%">Enigma Pilsner</td>
              <td>$10</td>
            </tr>
            <tr>
              <td style="width:70%"><i>Wheat Beer</i></td>
              <td></td>
            </tr>
            <tr>
              <td style="width:70%">4 Pines Hefeweizen</td>
              <td>$9</td>
            </tr>
            <tr>
              <td style="width:70%">Feral White</td>
              <td>$11</td>
            </tr>
            <tr>
              <td style="width:70%"><i>Ale</i></td>
              <td></td>
            </tr>
            <tr>
              <td style="width:70%">Newstead ‘3 Quarter Time’ Session Ale</td>
              <td>$8</td>
            </tr>
            <tr>
              <td style="width:70%">Riverside 69 Summer Ale</td>
              <td>$10</td>
            </tr>
            <tr>
              <td style="width:70%">Cricketers Spearhead Pale Ale</td>
              <td>$9</td>
            </tr>
            <tr>
              <td style="width:70%">4 Pines Pale Ale</td>
              <td>$9</td>
            </tr>
            <tr>
              <td style="width:70%">Mountain Goat ‘Hightail’ Amber Ale</td>
              <td>$9</td>
            </tr>
            <tr>
              <td style="width:70%">Newstead Two to the Valley IPA</td>
              <td>$10</td>
            </tr>
            <tr>
              <td style="width:70%"><i>Cider & Speciality Beers</i></td>
              <td></td>
            </tr>
            <tr>
              <td style="width:70%">East 9  Lick Pier Ginger Beer</td>
              <td>$12</td>
            </tr>
            <tr>
              <td style="width:70%">Napoleone & Co. Pear Cider</td>
              <td>$9</td>
            </tr>
            <tr>
              <td style="width:70%">Batlow Cloudy Apple Cider</td>
              <td>$11</td>
            </tr>
            <tr>
              <td style="width:70%"><i>Bitters & Dark Beers</i></td>
              <td></td>
            </tr>
            <tr>
              <td style="width:70%">Burleigh My Wife’s Bitter</td>
              <td>$9</td>
            </tr>
            <tr>
              <td style="width:70%">Riverside 88 Robust Porter</td>
              <td>$12</td>
            </tr>
          </table>
        </div>
        </br>
        <p><i>Rotational craft beers available on tap. Alternative wines available by the glass. Download our complete drinks menu to see the details.</i></p>
        <%= link_to 'Drinks Menu (PDF)', menu_drinks_url, class: "btn btn-secondary btn-lg", style: "font-style:italic", alt: "", align: "right" %>
      </div>
    </div>
  </div>
</div>
