<div class="container">
  <div class="row">
    <div class="box">
      <div class="col-lg-12">
        <hr>
        <h2 class="intro-text text-center">Our Drinks Menu</h2>
        <hr>
        <div class="table-responsive">
          <table class="table">
            <tr>
              <th style="width:70%">Wine by the Bottle</th>
              <th></th>
            </tr>
            <tr>
              <td style="width:70%"><i>Sparkling</i></td>
              <td></td>
            </tr>
            <tr>
              <td style="width:70%">Dunes & Greene Pinot Noir Chardonnay NV, Eden Valley SA</td>
              <td>$42</td>
            </tr>
            <tr>
              <td style="width:70%">Cester Dasogno Prosecco NV, ITY</td>
              <td>$50</td>
            </tr>
            <tr>
              <td style="width:70%">Deviation Road Altair Sparkling Rose NV, Adelaide Hills SA</td>
              <td>$65</td>
            </tr>
            <tr>
              <td style="width:70%">Pol Roger Brut Reserve NV, FRA</td>
              <td>$130</td>
            </tr>
            <tr>
              <td style="width:70%"><i>White</i></td>
              <td></td>
            </tr>
            <tr>
              <td style="width:70%">Chaffey Bros. Not your Grandma’s Riesling `15, Eden Valley SA</td>
              <td>$50</td>
            </tr>
            <tr>
              <td style="width:70%">Hugel Et Fils Pinot Blanc `13, Alsace FRA</td>
              <td>$56</td>
            </tr>
            <tr>
              <td style="width:70%">Haha Sauvignon Blanc `14, Marlborough NZ</td>
              <td>$54</td>
            </tr>
            <tr>
              <td style="width:70%">Howard Pinot Gris `15, Adelaide Hills SA</td>
              <td>$49</td>
            </tr>
            <tr>
              <td style="width:70%">Mahi Sauvignon Blanc `14, Marlborough NZ</td>
              <td>$60</td>
            </tr>
            <tr>
              <td style="width:70%">Redbank Fiano `14, King Valley VIC</td>
              <td>$44</td>
            </tr>
            <tr>
              <td style="width:70%">Pala i Fiori Vermentino Di Sardegna `14, ITY</td>
              <td>$41</td>
            </tr>
            <tr>
              <td style="width:70%">Bellvale Chardonnay `12, Gippsland VIC</td>
              <td>$63</td>
            </tr>
            <tr>
              <td style="width:70%"><i>Rose</i></td>
              <td></td>
            </tr>
            <tr>
              <td style="width:70%">Langmeil Bella Rouge Rose `15, Barossa SA</td>
              <td>$45</td>
            </tr>
            <tr>
              <td style="width:70%"><i>Red</i></td>
              <td></td>
            </tr>
            <tr>
              <td style="width:70%">Phaedrus Pinot Noir `13, Mornington Peninsula VIC</td>
              <td>$63</td>
            </tr>
            <tr>
              <td style="width:70%">Antinori Santa Cristina Sangiovese `13, Tuscany ITY</td>
              <td>$40</td>
            </tr>
            <tr>
              <td style="width:70%">Prunotto Barbera D’Alba `13, Piedmont ITY</td>
              <td>$70</td>
            </tr>
            <tr>
              <td style="width:70%">Torres Ibericos Alta Rioja `12, Penedes ESP</td>
              <td>$52</td>
            </tr>
            <tr>
              <td style="width:70%">Bleasdale Generations Malbec `13, Langhorne Creek SA</td>
              <td>$66</td>
            </tr>
            <tr>
              <td style="width:70%">Massoni Cabernet Sauvignon `12, Pyrenees VIC</td>
              <td>$50</td>
            </tr>
            <tr>
              <td style="width:70%">Heathcote Cravens Place Shiraz `14, Heathcote VIC</td>
              <td>$54</td>
            </tr>
            <tr>
              <td style="width:70%">Yalumba ‘The Signature’ Cabernet & Shiraz ’12, Barossa SA</td>
              <td>$115</td>
            </tr>      
          </table>
        </div>
        </br>
        <div class="table-responsive">
          <table class="table">
            <tr>
              <th style="width:70%">Cocktails</th>
              <th></th>
            </tr>
            <tr>
              <td style="width:70%">Two of Us</br>golden rum | lime | mint | grapefruit bitters | ginger</td>
              <td>$28 ~ to share</td>
            </tr>
            <tr>
              <td style="width:70%">Good Day Sunshine</br>sparkling wine | peach liqueur | fresh peach</td>
              <td>$13</td>
            </tr>
            <tr>
              <td style="width:70%">Lucy in the Sky With Diamonds</br>vodka | apricot brandy | rose | lemon | pineapple | pistachio dust</td>
              <td>$16</td>
            </tr>
            <tr>
              <td style="width:70%">Day Tripper</br>tequila | triple sec | watermelon | lime |agave | salt</td>
              <td>$16</td>
            </tr>
            <tr>
              <td style="width:70%">Dizzy Miss Lizzy</br>gin | lime | mint | gomme</td>
              <td>$16</td>
            </tr>
            <tr>
              <td style="width:70%">Long Tall Sally</br>gin | peach liqueur | campari | passionfruit | lemon | gomme</td>
              <td>$16</td>
            </tr>
            <tr>
              <td style="width:70%">A Hard Day’s Night</br>bourbon whiskey | elderflower | apple | bitters | burnt rosemary</td>
              <td>$16</td>
            </tr>  
            <tr>
              <td style="width:70%">Savoy Truffle</br>spiced rum | kahlua | espresso | maple syrup |chocolate bitters</td>
              <td>$16</td>
            </tr>       
          </table>
        </div>
        </br>
        <div class="table-responsive">
          <table class="table">
            <tr>
              <th style="width:70%">The Bar Fridge</th>
              <th></th>
            </tr>
            <tr>
              <td style="width:70%"><i>Lager</i></td>
              <td></td>
            </tr>
            <tr>
              <td style="width:70%">Coopers Premium Light</td>
              <td>$6</td>
            </tr>
            <tr>
              <td style="width:70%">East 9th  Doss Blockos Pale Lager </td>
              <td>$8</td>
            </tr>
            <tr>
              <td style="width:70%">Stone & Wood Green Coast Lager</td>
              <td>$9</td>
            </tr>
            <tr>
              <td style="width:70%">Moo Brew Pilsner</td>
              <td>$12</td>
            </tr>
            <tr>
              <td style="width:70%"><i>Wheat Beer</i></td>
              <td></td>
            </tr>
            <tr>
              <td style="width:70%">4 Pines Hefeweizen</td>
              <td>$9</td>
            </tr>
            <tr>
              <td style="width:70%">Feral White</td>
              <td>$11</td>
            </tr>
            <tr>
              <td style="width:70%"><i>Ale</i></td>
              <td></td>
            </tr>
            <tr>
              <td style="width:70%">Newstead ‘3 Quarter Time’ Session Ale</td>
              <td>$8</td>
            </tr>
            <tr>
              <td style="width:70%">Prancing Pony Sunshine Ale</td>
              <td>$9</td>
            </tr>
            <tr>
              <td style="width:70%">Riverside 69 Summer Ale</td>
              <td>$10</td>
            </tr>
            <tr>
              <td style="width:70%">Cricketers Spearhead Pale Ale</td>
              <td>$9</td>
            </tr>
            <tr>
              <td style="width:70%">4 Pines Pale Ale</td>
              <td>$9</td>
            </tr>
            <tr>
              <td style="width:70%">Mountain Goat ‘Hightail’ Amber Ale</td>
              <td>$9</td>
            </tr>
            <tr>
              <td style="width:70%">Newstead Two to the Valley IPA</td>
              <td>$10</td>
            </tr>
            <tr>
              <td style="width:70%"><i>Cider & Speciality Beers</i></td>
              <td></td>
            </tr>
            <tr>
              <td style="width:70%">East 9  Lick Pier Ginger Beer</td>
              <td>$12</td>
            </tr>
            <tr>
              <td style="width:70%">Napoleone & Co. Pear Cider</td>
              <td>$9</td>
            </tr>
            <tr>
              <td style="width:70%">Batlow Cloudy Apple Cider</td>
              <td>$11</td>
            </tr>
            <tr>
              <td style="width:70%"><i>Bitters & Dark Beers</i></td>
              <td></td>
            </tr>
            <tr>
              <td style="width:70%">Burleigh My Wife’s Bitter</td>
              <td>$9</td>
            </tr>
            <tr>
              <td style="width:70%">Riverside 88 Robust Porter</td>
              <td>$12</td>
            </tr>  
          </table>
        </div>
        </br>
        <p><i>Rotational craft beers available on tap. Alternative wines available by the glass. Download our complete drinks menu to see the details.</i></p>
        <%= link_to 'Drinks Menu (PDF)', menu_drinks_url, class: "btn btn-secondary btn-lg", style: "font-style:italic", alt: "", align: "right" %>
      </div>
    </div>
  </div>
</div>
