<div class="container">
  <div class="row">
    <div class="box">
      <div class="col-lg-12">
        <hr>
        <h2 class="intro-text text-center">Our Drinks Menu</h2>
        <hr>
        <div class="table-responsive">
          <table class="table">
            <tr>
              <th style="width:70%">Wine by the Bottle</th>
              <th></th>
            </tr>
            <tr>
              <td style="width:70%"><i>Sparkling</i></td>
              <td></td>
            </tr>
            <tr>
              <td style="width:70%">Dunes & Greene Pinot Noir Chardonnay NV, Eden Valley SA</td>
              <td>$36</td>
            </tr>
            <tr>
              <td style="width:70%">Cester Dasogno Prosecco NV, ITY</td>
              <td>$42</td>
            </tr>
            <tr>
              <td style="width:70%">Louis Bouillot Perle d’Aurore Rose NV, FRA</td>
              <td>$60</td>
            </tr>
            <tr>
              <td style="width:70%">Pol Roger Brut Reserve NV, FRA</td>
              <td>$120</td>
            </tr>
            <tr>
              <td style="width:70%"><i>White</i></td>
              <td></td>
            </tr>
            <tr>
              <td style="width:70%">Brockenchach Riesling `15, Eden Valley SA</td>
              <td>$45</td>
            </tr>
            <tr>
              <td style="width:70%">The Long Paddock Sauvignon Banc `14, King Valley VIC</td>
              <td>$36</td>
            </tr>
            <tr>
              <td style="width:70%">Haha Sauvignon Blanc `14, Marlborough NZ</td>
              <td>$43</td>
            </tr>
            <tr>
              <td style="width:70%">Pala i Fiori Vermentino Di Sardegna `14, ITY</td>
              <td>$44</td>
            </tr>
            <tr>
              <td style="width:70%">Corte Giara Pinot Grigio `14, Venezie ITY</td>
              <td>$45</td>
            </tr>
            <tr>
              <td style="width:70%">Pitchfork Chardonnay `15, Margaret River WA</td>
              <td>$36</td>
            </tr>
            <tr>
              <td style="width:70%">Bellvale Chardonnay `12, Gippsland VIC</td>
              <td>$70</td>
            </tr>
            <tr>
              <td style="width:70%"><i>Rose</i></td>
              <td></td>
            </tr>
            <tr>
              <td style="width:70%">Langmeil Bella Rouge Rose `14, Barossa SA</td>
              <td>$38</td>
            </tr>
            <tr>
              <td style="width:70%"><i>Red</i></td>
              <td></td>
            </tr>
            <tr>
              <td style="width:70%">Palliser Pencarrow Pinot Noir `13, Martinborough NZ</td>
              <td>$49</td>
            </tr>
            <tr>
              <td style="width:70%">I Monili Tarantino Primitivo `13, Manduria ITY</td>
              <td>$36</td>
            </tr>
            <tr>
              <td style="width:70%">Prunotto Barbera D’Alba `13, Piedmont ITY</td>
              <td>$70</td>
            </tr>
            <tr>
              <td style="width:70%">Jarvis Cabernet Merlot `09, Margaret River WA</td>
              <td>$34</td>
            </tr>
            <tr>
              <td style="width:70%">Alamos Malbec `14, Mendoza Argentina</td>
              <td>$46</td>
            </tr>
            <tr>
              <td style="width:70%">Massoni Cabernet Sauvignon `12, Pyrenees VIC</td>
              <td>$49</td>
            </tr>
            <tr>
              <td style="width:70%">The Hedonist Shiraz `13, McLaren Vale SA</td>
              <td>$45</td>
            </tr>       
          </table>
        </div>
        </br>
        <div class="table-responsive">
          <table class="table">
            <tr>
              <th style="width:70%">Cocktails</th>
              <th></th>
            </tr>
            <tr>
              <td style="width:70%">Strawberry Fields Forever</br>sparkling wine | Chambord | strawberries</td>
              <td>$12</td>
            </tr>
            <tr>
              <td style="width:70%">Twist n’ Shout</br>bourbon | maple | lemon | vanilla | egg white | cinnamon</td>
              <td>$16</td>
            </tr>
            <tr>
              <td style="width:70%">Ain’t She Sweet</br>rum | apricot brandy | grapefruit bitters | lime | pineapple</td>
              <td>$16</td>
            </tr>
            <tr>
              <td style="width:70%">Dizzy Miss Lizzy</br>gin | lime | mint | gomme</td>
              <td>$16</td>
            </tr>
            <tr>
              <td style="width:70%">Here Comes the Sun</br>tequila | orange | ginger | cucumber | passionfruit | lime</td>
              <td>$16</td>
            </tr>
            <tr>
              <td style="width:70%">Back in the USSR</br>vodka | Kahlua | coffee | cream | mint</td>
              <td>$16</td>
            </tr>        
          </table>
        </div>
        </br>
        <div class="table-responsive">
          <table class="table">
            <tr>
              <th style="width:70%">The Bar Fridge</th>
              <th></th>
            </tr>
            <tr>
              <td style="width:70%"><i>Lager</i></td>
              <td></td>
            </tr>
            <tr>
              <td style="width:70%">Coopers Light</td>
              <td>$5</td>
            </tr>
            <tr>
              <td style="width:70%">Peroni Leggera Mid Strength</td>
              <td>$6</td>
            </tr>
            <tr>
              <td style="width:70%">Doss Blockos Pale Lager</td>
              <td>$7</td>
            </tr>
            <tr>
              <td style="width:70%">Burleigh Duke Premium Lager</td>
              <td>$8</td>
            </tr>
            <tr>
              <td style="width:70%"><i>Pilsner</i></td>
              <td></td>
            </tr>
            <tr>
              <td style="width:70%">Little Creatures Pilsner</td>
              <td>$8</td>
            </tr>
            <tr>
              <td style="width:70%">James Squire Pilsner</td>
              <td>$8</td>
            </tr>
            <tr>
              <td style="width:70%"><i>Ale</i></td>
              <td></td>
            </tr>
            <tr>
              <td style="width:70%">4 Pines Kolsch</td>
              <td>$7</td>
            </tr>
            <tr>
              <td style="width:70%">Stone & Wood Pacific Ale</td>
              <td>$8</td>
            </tr>
            <tr>
              <td style="width:70%">Cricketers Spearhead Pale Ale</td>
              <td>$7</td>
            </tr>
            <tr>
              <td style="width:70%">Feral Hop Hog IPA</td>
              <td>$10</td>
            </tr>
            <tr>
              <td style="width:70%">Two Birds Sunset Ale</td>
              <td>$9</td>
            </tr>
            <tr>
              <td style="width:70%"><i>Wheat Beer</i></td>
              <td></td>
            </tr>
            <tr>
              <td style="width:70%">Feral White</td>
              <td>$8</td>
            </tr>
            <tr>
              <td style="width:70%"><i>Cider & Speciality Beers</i></td>
              <td></td>
            </tr>
            <tr>
              <td style="width:70%">4 Pines Irish Stout</td>
              <td>$7</td>
            </tr>
            <tr>
              <td style="width:70%">Matsos Mango Beer</td>
              <td>$8</td>
            </tr>
            <tr>
              <td style="width:70%">Lick Ginger Beer</td>
              <td>$10</td>
            </tr>
            <tr>
              <td style="width:70%">Batlow Cloudy Apple Cider</td>
              <td>$8</td>
            </tr>          
          </table>
        </div>
        </br>
        <p><i>Rotational craft beers available on tap. Alternative wines available by the glass. Download our complete drinks menu to see the details.</i></p>
        <%= link_to 'Drinks Menu (PDF)', menu_drinks_url, class: "btn btn-secondary btn-lg", style: "font-style:italic", alt: "", align: "right" %>
      </div>
    </div>
  </div>
</div>
