<div class="container">
  <div class="row">
    <div class="box">
      <div class="col-lg-12">
        <hr>
        <h2 class="intro-text text-center">Our Food Menu</h2>
        <hr>
        <table class="table">
          <tr>
            <th style="width:70%">Entrees / Share Plates</th>
            <th></th>
          </tr>
          <tr>
            <td style="width:70%">House Cob Loaf</br>w hickory smoked butter or aged olive oil & dukkah</td>
            <td>$6</td>
          </tr>
          <tr>
            <td style="width:70%">Croquetas de Jamón</br>cured Spanish leg ham in creamy béchamel, crumbed & fried</td>
            <td>$10</td>
          </tr>
          <tr>
            <td style="width:70%">Pan Seared USA Scallops</br>w white bean purée, air dried wagyu, radish & coriander</td>
            <td>$14</td>
          </tr>
          <tr>
            <td style="width:70%">Grilled Buffalo Milk Haloumi</br>w beetroot, toasted walnut & mint (G)(V)</td>
            <td>$11</td>
          </tr>
          <tr>
            <td style="width:70%">Spanish Sizzling Prawns & Chorizo</br>w garlic, chilli, tomato & sherry (G)</td>
            <td>$13</td>
          </tr>
          <tr>
            <td style="width:70%">Duck Liver Parfait</br>w Pedro Ximenez jelly, spring pickles & house croutons</td>
            <td>$14</td>
          </tr>
          <tr>
            <td style="width:70%">The Wooden Meat Board #2</br>w serrano, spreadable salami, pecorino, Sicilian olives & peppered house grissini</td>
            <td>$16</td>
          </tr>        
        </table>
        </br>
        <table class="table">
          <tr>
            <th style="width:70%">The Main Event</th>
            <th></th>
          </tr>
          <tr>
            <td style="width:70%">Slow Roast Pig</br>Belly pork w honey carrot puree, caramelised onion, poached pear & jus (G)</td>
            <td>$31</td>
          </tr>
          <tr>
            <td style="width:70%">Crispy Skin Chicken Breast</br>w house made wild mushroom gnocchi, grilled asparagus, pecorino & truffle crème sauce</td>
            <td>$30</td>
          </tr>
          <tr>
            <td style="width:70%">Orange Glazed Confit Duck Leg</br>w smoked goats curd, roast beets, hazelnut, radicchio & chilli oil (G)</td>
            <td>$32</td>
          </tr>
          <tr>
            <td style="width:70%">House-made Angel Hair Pasta</br>w tiger prawns, scallops, garlic oil, chilli, tomato & sherry</td>
            <td>$30</td>
          </tr>
          <tr>
            <td style="width:70%">House Pumpkin & Fetta Ravioli</br>w spinach, burnt sage butter, honey walnut & aged parmesan</td>
            <td>$28</td>
          </tr>
          <tr>
            <td style="width:70%">250g Chargrilled Rib Fillet</br>w rosemary French fries, mustard leaf, Gentlemen’s relish & pink peppercorn jus (G)</td>
            <td>$35</td>
          </tr>        
        </table>
        </br>
        <table class="table">
          <tr>
            <th style="width:70%">Sides</th>
            <th>all $6</th>
          </tr>
          <tr>
            <td style="width:70%">Lemon buttered greens</td>
            <td></td>
          </tr>
          <tr>
            <td style="width:70%">French fries w rosemary salt & aioli</td>
            <td></td>
          </tr>
          <tr>
            <td style="width:70%">Bitter leaf, almond salad w orange dressing</td>
            <td></td>
          </tr>
          <tr>
            <td style="width:70%">Truss tomato, basil & mozzarella salad </td>
            <td></td>
          </tr>
          <tr>
            <td style="width:70%">Wild mushroom gnocchi w truffle & pecorino</td>
            <td></td>
          </tr>      
        </table>
        </br>
        <table class="table">
          <tr>
            <th style="width:70%">Brick Oven Pizza</th>
            <th></th>
          </tr>
          <tr>
            <td style="width:70%">Garlic Flat Bread</br>garlic oil | mozzarella | rosemary | smoked salt | pepper</td>
            <td>$12</td>
          </tr>
          <tr>
            <td style="width:70%">Margherita</br>tomato | garlic | buffalo mozzarella | basil</td>
            <td>$16</td>
          </tr>
          <tr>
            <td style="width:70%">Pepperoni</br>chilli | oven-dried tomato | mozzarella | oregano</td>
            <td>$18</td>
          </tr>
          <tr>
            <td style="width:70%">Chicken & Chorizo</br>pumpkin | fetta | pine nut | mojo verdee</td>
            <td>$18</td>
          </tr>
          <tr>
            <td style="width:70%">Spiced Lamb Shoulder</br>beetroot | goats cheese | white onion | mint</td>
            <td>$18</td>
          </tr>
          <tr>
            <td style="width:70%">Al Fungi</br>wild mushroom | spinach | parmesan | truffle | mozzarella</td>
            <td>$18</td>
          </tr>
          <tr>
            <td style="width:70%">The Wooden Ship</br>prawn | calamari | truss tomato | sorrel | lemon aioli</td>
            <td>$20</td>
          </tr>  
          <tr>
            <td style="width:70%">The Drunken Pig</br>pork belly | bacon | pepperoni | bourbon bbq sauce | mozzarella | dill pickle</td>
            <td>$20</td>
          </tr>  
          <tr>
            <td style="width:70%"><i>Any pizza gluten free</i></td>
            <td><i>add $3</i></td>
          </tr>  
          <tr>
            <td style="width:70%"><i>Extras</i></br>chicken | pork belly | pepperoni | chorizo | white anchovies</td>
            <td><i>add $3 each</i></td>
          </tr>    
        </table>
        </br>
        <table class="table">
          <tr>
            <th style="width:70%">Desserts</th>
            <th></th>
          </tr>
          <tr>
            <td style="width:70%">Mascarpone Panna Cotta</br>w limoncello curd, Italian meringue & pistachio</td>
            <td>$12</td>
          </tr>
          <tr>
            <td style="width:70%">Warm Spanish Churros</br>w cinnamon chilli sugar & dark chocolate dipping sauce</td>
            <td>$12</td>
          </tr>
          <tr>
            <td style="width:70%">“The Strawberry Cheese Cake”</br>deconstructed w sweet basil & honey ice-cream</td>
            <td>$12</td>
          </tr>
          <tr>
            <td style="width:70%">The Wooden Cheese Board</br>Our weekly selection of Australian cheeses with accompaniments & house lavosh</br><i>Waiter will advise</i></td>
            <td>$16</td>
          </tr>
          <tr>
            <th style="width:70%">To Accompany</th>
            <th></th>
          </tr>
          <tr>
            <td style="width:70%">Vasse Felix Cane Cut Semillon `13,</br>Margaret River WA</td>
            <td>$10</td>
          </tr>
          <tr>
            <td style="width:70%">Seppeltsfield Para Grand Tawny NV,</br>Barossa Valley SA</td>
            <td>$8</td>
          </tr>      
        </table>
        <%= link_to 'Our Dinner Menu (PDF)', menu_download_url, class: "btn btn-secondary btn-lg", style: "font-style:italic", alt: "", align: "right" %>
        <p style="padding-right:17px;padding-top:10px;">
          <%= link_to 'Our Lunch Menu (PDF)', menu_lunch_url, class: "btn btn-secondary btn-lg", style: "font-style:italic", alt: "", align: "right" %>
          <i><span style="padding-left:6px;">(Friday - Sunday)</i></span>
        </p>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="box">
      <div class="col-lg-12">
        <hr>
        <h2 class="intro-text text-center">Kids Menu</h2>
        <hr>
        <hr class="visible-xs">
        <p></i>Don't you hate kids menus filled with junk food?
        </br>
        </br>
        We have done our very best to satisfy the little'ns and leave you with a clear conscience.
        </br>
        </br>
        (Available until 7:30 PM)
        </i></p>
        <%= link_to 'Kids Menu (PDF)', menu_kids_url, class: "btn btn-secondary btn-lg", style: "font-style:italic", alt: "", align: "right" %>
      </div>
    </div>
  </div>
</div>
