<div class="container">
  <div class="row">
    <div class="box">
      <div class="col-lg-12">
        <hr>
        <h2 class="intro-text text-center">Our Menu</h2>
        <hr>
        <hr class="visible-xs">
        <table class="table">
          <tr>
            <th style="width:70%">Entrees / Share Plates</th>
            <th></th>
          </tr>
          <tr>
            <td style="width:70%">House Cob Loaf</br>w hickory smoked butter or aged olive oil & dukkah</td>
            <td>$6</td>
          </tr>
          <tr>
            <td style="width:70%">Croquetas de Jamón</br>cured Spanish leg ham in creamy béchamel, crumbed & fried</td>
            <td>$10</td>
          </tr>
          <tr>
            <td style="width:70%">BBQ Baby Squid</br>w spiced chickpea, lemon, aioli & coriander (G)</td>
            <td>$10</td>
          </tr>
          <tr>
            <td style="width:70%">Grilled Buffalo Milk Haloumi</br>w pumpkin, toasted walnut & mint (G)(V)</td>
            <td>$10</td>
          </tr>
          <tr>
            <td style="width:70%">Spanish Sizzling Prawns & Chorizo</br>w garlic, chilli, tomato & sherry (G)</td>
            <td>$13</td>
          </tr>
          <tr>
            <td style="width:70%">The Wooden Meat Board</br>w wagyu bresaola, serrano, manchego, Sicilian olives & house grissini</td>
            <td>$13</td>
          </tr>        
        </table>
        </br>
        <table class="table">
          <tr>
            <th style="width:70%">Mains</th>
            <th></th>
          </tr>
          <tr>
            <td style="width:70%">Slow Roast Pork Belly</br>w honey carrot puree, caramelised onion, poached pear & orange thyme sauce (G)</td>
            <td>$30</td>
          </tr>
          <tr>
            <td style="width:70%">Crispy Skin Chicken Breast</br>w house made wild mushroom gnocchi, grilled asparagus & truffle crème sauce</td>
            <td>$28</td>
          </tr>
          <tr>
            <td style="width:70%">Red Wine Braised Lamb Shanks</br>w smoked potato, baby beetroot, charred kale, truss tomato & braising juices (G)</td>
            <td>$28</td>
          </tr>
          <tr>
            <td style="width:70%">House-made Angel Hair Pasta</br>w tiger prawns, garlic oil, chilli, tomato & white wine</td>
            <td>$28</td>
          </tr>
          <tr>
            <td style="width:70%">House Pumpkin & Fetta Ravioli</br>w spinach, burnt sage butter, honey walnut & aged parmesan</td>
            <td>$26</td>
          </tr>
          <tr>
            <td style="width:70%">250g Chargrilled Rib Fillet</br>w rosemary French fries, watercress, Rockefeller sauce & jus (G)</td>
            <td>$32</td>
          </tr>        
        </table>
        </br>
        <table class="table">
          <tr>
            <th style="width:70%">Sides</th>
            <th>all $6</th>
          </tr>
          <tr>
            <td style="width:70%">Lemon buttered market greens</td>
            <td></td>
          </tr>
          <tr>
            <td style="width:70%">French fries w rosemary salt & aioli</td>
            <td></td>
          </tr>
          <tr>
            <td style="width:70%">Truss tomato, torn basil & mozzarella salad</td>
            <td></td>
          </tr>
          <tr>
            <td style="width:70%">Smoked potato mash w jus</td>
            <td></td>
          </tr>      
        </table>
        </br>
        <table class="table">
          <tr>
            <th style="width:70%">Pizzas</th>
            <th></th>
          </tr>
          <tr>
            <td style="width:70%">Garlic Flat Bread</br>garlic oil | mozzarella | rosemary | smoked salt | pepper</td>
            <td>$12</td>
          </tr>
          <tr>
            <td style="width:70%">Margherita</br>tomato | garlic | buffalo mozzarella | basil</td>
            <td>$16</td>
          </tr>
          <tr>
            <td style="width:70%">Pepperoni</br>chilli | oven-dried tomato | mozzarella | oregano</td>
            <td>$18</td>
          </tr>
          <tr>
            <td style="width:70%">Chicken & Chorizo</br>pumpkin | fetta | pine nut | mojo verdee</td>
            <td>$18</td>
          </tr>
          <tr>
            <td style="width:70%">Al Fungi</br>wild mushroom | spinach | parmesan | truffle | mozzarella</td>
            <td>$18</td>
          </tr>
          <tr>
            <td style="width:70%">The Wooden Ship</br>prawn | calamari | truss tomato | sorrel | lemon aioli</td>
            <td>$20</td>
          </tr>  
          <tr>
            <td style="width:70%">The Drunken Pig</br>pork belly | bacon | pepperoni | bourbon bbq sauce | mozzarella | dill pickle</td>
            <td>$20</td>
          </tr>  
          <tr>
            <td style="width:70%"><i>Any pizza gluten free</i></td>
            <td><i>add $3</i></td>
          </tr>  
          <tr>
            <td style="width:70%"><i>Extras</i></br>chicken | pork belly | pepperoni | chorizo | white anchovies</td>
            <td><i>add $3 each</i></td>
          </tr>    
        </table>
        </br>
        <table class="table">
          <tr>
            <th style="width:70%">Desserts</th>
            <th></th>
          </tr>
          <tr>
            <td style="width:70%">Mascarpone Panna Cotta</br>w limoncello curd, Italian meringue & pistachio</td>
            <td>$12</td>
          </tr>
          <tr>
            <td style="width:70%">Warm Spanish Churros</br>w cinnamon chilli sugar & dark chocolate dipping sauce</td>
            <td>$12</td>
          </tr>
          <tr>
            <td style="width:70%">The Black Forrest</br>Belgium chocolate sponge w drunken raspberry, candied hazelnut & chambord-laced crème</td>
            <td>$12</td>
          </tr>
          <tr>
            <td style="width:70%">The Wooden Cheese Board</br>Our weekly selection of Australian cheeses with accompaniments & house lavosh</br><i>Waiter will advise</i></td>
            <td>$16</td>
          </tr>
          <tr>
            <th style="width:70%">To Accompany</th>
            <th></th>
          </tr>
          <tr>
            <td style="width:70%">Vasse Felix Cane Cut Semillon `13,</br>Margaret River WA</td>
            <td>$10</td>
          </tr>
          <tr>
            <td style="width:70%">Vasse Felix Cane Cut Semillon `13,</br>Margaret River WA</td>
            <td>$10</td>
          </tr>      
        </table>
        <%= link_to 'Our Menu (PDF)', menu_download_url, class: "btn btn-secondary btn-lg", style: "font-style:italic", alt: "", align: "right" %>
      </div>
    </div>
  </div>
</div>
<!-- Drinks Menu -->
<div class="container">
  <div class="row">
    <div class="box">
      <div class="col-lg-12">
        <hr>
        <h2 class="intro-text text-center">Drinks Menu</h2>
        <hr>
        <hr class="visible-xs">
        <table class="table">
          <tr>
            <th style="width:70%">Wine by the Glass</th>
            <th></th>
          </tr>
          <tr>
            <td style="width:70%"><i>Sparkling</i></td>
            <td></td>
          </tr>
          <tr>
            <td style="width:70%">Dunes & Greene Pinot Noir Chardonnay, NV, Eden Valley SA</td>
            <td>$8</td>
          </tr>
          <tr>
            <td style="width:70%"><i>White</i></td>
            <td></td>
          </tr>
          <tr>
            <td style="width:70%">The Long Paddock `14 Sauvignon Blanc, King Valley</td>
            <td>$8</td>
          </tr>
          <tr>
            <td style="width:70%">Pala I Fiori Vermentino Di Sardegna `14 ITY</td>
            <td>$10</td>
          </tr>
          <tr>
            <td style="width:70%">Pitchfork Chardonnay `15, Margaret River WA</td>
            <td>$8</td>
          </tr>
          <tr>
            <td style="width:70%"><i>Rose</i></td>
            <td></td>
          </tr>
          <tr>
            <td style="width:70%">Langmeil Bella Rouge `14 Rose, Barossa SA</td>
            <td>$9</td>
          </tr>
          <tr>
            <td style="width:70%"><i>Red</i></td>
            <td></td>
          </tr>
          <tr>
            <td style="width:70%">Palliser Pencarrow`13 Pinot Noir, Martinborough NZ</td>
            <td>$11</td>
          </tr>
          <tr>
            <td style="width:70%">I Monili Tarantino Primitivo `13, Manduria ITY</td>
            <td>$8</td>
          </tr>
          <tr>
            <td style="width:70%">The Hedonist Shiraz `13, McLaren Vale SA</td>
            <td>$10</td>
          </tr>
          <tr>
            <td style="width:70%"><i>Dessert</i></td>
            <td></td>
          </tr>
          <tr>
            <td style="width:70%">Vasse Felix Cane Cut Semillon `13, Margaret River</td>
            <td>$10</td>
          </tr>
          <tr>
            <td style="width:70%">Seppeltsfield Para Grand Tawny Port, Barossa SA</td>
            <td>$8</td>
          </tr>
          <tr>
            <td style="width:70%">Yarran Moscato `14, NSW</td>
            <td>$7</td>
          </tr>       
        </table>
        </br>
        <table class="table">
          <tr>
            <th style="width:70%">Cocktails</th>
            <th></th>
          </tr>
          <tr>
            <td style="width:70%">Strawberry Fields Forever</br>sparkling wine | Chambord | strawberries</td>
            <td>$12</td>
          </tr>
          <tr>
            <td style="width:70%">Twist n’ Shout</br>bourbon | maple | lemon | vanilla | egg white | cinnamon</td>
            <td>$16</td>
          </tr>
          <tr>
            <td style="width:70%">Ain’t She Sweet</br>rum | apricot brandy | grapefruit bitters | lime | pineapple</td>
            <td>$16</td>
          </tr>
          <tr>
            <td style="width:70%">Dizzy Miss Lizzy</br>gin | lime | mint | gomme</td>
            <td>$16</td>
          </tr>
          <tr>
            <td style="width:70%">Here Comes the Sun</br>tequila | orange | ginger | cucumber | passionfruit | lime</td>
            <td>$16</td>
          </tr>
          <tr>
            <td style="width:70%">Back in the USSR</br>vodka | Kahlua | coffee | cream | mint</td>
            <td>$16</td>
          </tr>        
        </table>
        </br>
        <table class="table">
          <tr>
            <th style="width:70%">The Bar Fridge</th>
            <th></th>
          </tr>
          <tr>
            <td style="width:70%"><i>Lager</i></td>
            <td></td>
          </tr>
          <tr>
            <td style="width:70%">Coopers Light</td>
            <td>$5</td>
          </tr>
          <tr>
            <td style="width:70%">Peroni Leggera Mid Strength</td>
            <td>$6</td>
          </tr>
          <tr>
            <td style="width:70%">Doss Blockos Pale Lager</td>
            <td>$7</td>
          </tr>
          <tr>
            <td style="width:70%">Burleigh Duke Premium Lager</td>
            <td>$8</td>
          </tr>
          <tr>
            <td style="width:70%"><i>Pilsner</i></td>
            <td></td>
          </tr>
          <tr>
            <td style="width:70%">Little Creatures Pilsner</td>
            <td>$8</td>
          </tr>
          <tr>
            <td style="width:70%">James Squire Pilsner</td>
            <td>$8</td>
          </tr>
          <tr>
            <td style="width:70%"><i>Ale</i></td>
            <td></td>
          </tr>
          <tr>
            <td style="width:70%">4 Pines Kolsch</td>
            <td>$7</td>
          </tr>
          <tr>
            <td style="width:70%">Stone & Wood Pacific Ale</td>
            <td>$8</td>
          </tr>
          <tr>
            <td style="width:70%">Cricketers Spearhead Pale Ale</td>
            <td>$7</td>
          </tr>
          <tr>
            <td style="width:70%">Feral Hop Hog IPA</td>
            <td>$10</td>
          </tr>
          <tr>
            <td style="width:70%">Two Birds Sunset Ale</td>
            <td>$9</td>
          </tr>
          <tr>
            <td style="width:70%"><i>Wheat Beer</i></td>
            <td></td>
          </tr>
          <tr>
            <td style="width:70%">Feral White</td>
            <td>$8</td>
          </tr>
          <tr>
            <td style="width:70%"><i>Cider & Speciality Beers</i></td>
            <td></td>
          </tr>
          <tr>
            <td style="width:70%">4 Pines Irish Stout</td>
            <td>$7</td>
          </tr>
          <tr>
            <td style="width:70%">Matsos Mango Beer</td>
            <td>$8</td>
          </tr>
          <tr>
            <td style="width:70%">Lick Ginger Beer</td>
            <td>$10</td>
          </tr>
          <tr>
            <td style="width:70%">Batlow Cloudy Apple Cider</td>
            <td>$8</td>
          </tr>          
        </table>
        </br>
        <p><i>Rotational craft beers available on tap. Alternative wines available by the bottle. Download our complete drinks menu to see the details.</i></p>
        <%= link_to 'Drinks Menu (PDF)', menu_drinks_url, class: "btn btn-secondary btn-lg", style: "font-style:italic", alt: "", align: "right" %>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="box">
      <div class="col-lg-12">
        <hr>
        <h2 class="intro-text text-center">Kids Menu</h2>
        <hr>
        <hr class="visible-xs">
        <p></i>Don't you hate kids menus filled with junk food?
        </br>
        </br>
        We have done our very best to satisfy the little'ns and leave you with a clear conscience.
        </br>
        </br>
        (Available until 7:30 PM)
        </i></p>
        <%= link_to 'Kids Menu (PDF)', menu_kids_url, class: "btn btn-secondary btn-lg", style: "font-style:italic", alt: "", align: "right" %>
      </div>
    </div>
  </div>
</div>
