<div class="container">
  <div class="row">
    <div class="box">
      <div class="col-lg-12">
        <hr>
        <h2 class="intro-text text-center">Our Food Menu</h2>
        <hr>
        <div class="table-responsive">
          <table class="table">
            <tr>
              <th style="width:70%">Entrees / Share Plates</th>
              <th></th>
            </tr>
            <tr>
              <td style="width:70%">MARKET OYSTERS ‘shucked to order’</br>pomegranate, chardonnay verjus</td>
              <td>$3.5ea</td>
            </tr>
            <tr>
              <td style="width:70%">HOUSE BAKED PANE SCIOCCO</br>‘bee one third’ honey, smoked butter, burnt vanilla</td>
              <td>$9</td>
            </tr>
            <tr>
              <td style="width:70%">HINTERLAND ZUCCHINI FLOWERS</br>scamorza, caramelised onion, harissa</td>
              <td>$6ea</td>
            </tr>
            <tr>
              <td style="width:70%">DEVILLED BEEF CROQUETAS</br>air-dried wagyu, egg, green goddess sauce</td>
              <td>$13</td>
            </tr>
            <tr>
              <td style="width:70%">DUCK LIVER PARFAIT</br>PX jelly, house pickle, truffle snow, torn bread</td>
              <td>$17</td>
            </tr>
            <tr>
              <td style="width:70%">THE WOODEN MEAT BOARD #6</br>smoked brisket pastrami, chilli & fennel lonza, spreadable pig, squid ink grissini, aged rosemary rind manchego, wild olives, house pickles</td>
              <td>$22</td>
            </tr>
          </table>
          </br>
          <table class="table">
            <tr>
              <th style="width:70%">Main</th>
              <th></th>
            </tr>
            <tr>
              <td style="width:70%">SLOW & STEADY PIG</br>32 hour shoulder steak, smoke & flame, pan seared scallops, grape, scratchings, enidve, pig sauce</td>
              <td>$37</td>
            </tr>
            <tr>
              <td style="width:70%">SPICED PUMPKIN & FETA AGNOLOTTI</br>honey walnut, wilted spinach, burnt garlic & marjoram butter, cured egg yolk, aged parmesan</td>
              <td>$34</td>
            </tr>
            <tr>
              <td style="width:70%">PAN SEARED NZ KING SALMON</br>spanner crab broth, chorizo, kinkawooka mussels, tomato,basil,saffronrouille</td>
              <td>$36</td>
            </tr>
            <tr>
              <td style="width:70%">LOW FLYING BIRD</br>BBQ chicken maryland, North African spice, shaved cucumber, pomegranate, smoked goat’s cheese, almond, dill</td>
              <td>$35</td>
            </tr>
            <tr>
              <td style="width:70%">ROO W COFFEE</br>medium rare kangaroo loin, Jerusalem artichoke, fig, coffee butter, warrigal greens, cherry, jus</td>
              <td>$40</td>
            </tr>
            <tr>
              <td style="width:70%">300G KOBE SCORE 9+ RUMP</br>smoke & flame, Italian slaw, porcini salted shoestring, gentlemen’s relish, veal bone jus</td>
              <td>$50</td>
            </tr>
          </table>
          </br>
          <table class="table">
            <tr>
              <th style="width:70%">Sides</th>
              <th></th>
            </tr>
            <tr>
              <td style="width:70%">porcini salted shoestring fries, confit garlic mayo</td>
              <td>$9</td>
            </tr>
            <tr>
              <td style="width:70%">Italian slaw, raisin, parmesan, crouton</td>
              <td>$8</td>
            </tr>
            <tr>
              <td style="width:70%">shaved cucumber, pomegranate, smoked goat’s cheese, almond</td>
              <td>$9</td>
            </tr>
            <tr>
              <td style="width:70%">char-grilledmarketgreens, preservedlemon, shallotoil</td>
              <td>$10</td>
            </tr>
            <tr>
              <td style="width:70%">torn house pane sciocco, olive oil, smoked salt </td>
              <td>$6</td>
            </tr>
          </table>
          </br>
          <table class="table">
            <tr>
              <th style="width:70%">Brick Oven Pizza</th>
              <th></th>
            </tr>
            <tr>
              <td style="width:70%">GARLIC FLAT BREAD</br>confit garlic | mozzarella | rosemary | smoked salt</td>
              <td>$14</td>
            </tr>
            <tr>
              <td style="width:70%">MARGHERITA</br>tomato | smoked mozzarella | basil</td>
              <td>$18</td>
            </tr>
            <tr>
              <td style="width:70%">PEPPERONI</br>garlic | chilli | oven-dried tomato | mozzarella | basil oil</td>
              <td>$22</td>
            </tr>
            <tr>
              <td style="width:70%">THE REUBEN</br>smoked brisket pastrami | bacon braised cabbage | garlic | mustard mayo | dill pickle | chive</td>
              <td>$25</td>
            </tr>
            <tr>
              <td style="width:70%">THE VIKING</br>butternut pumpkin | danish viking blue cheese | spinach | green olive | sage</td>
              <td>$21</td>
            </tr>
            <tr>
              <td style="width:70%">BLACK SHEEP</br>pulled lamb | beetroot | smoked goats cheese | onion | mustard | mint</td>
              <td>$23</td>
            </tr>
            <tr>
              <td style="width:70%">THE MATADOR</br>prawns | chorizo | tomato | sherry onion | manchego | coriander</td>
              <td>$26</td>
            </tr>
            <tr>
              <td style="width:70%">THE DRUNKEN PIG</br>slow cooked pork | bacon | pepperoni | spicy bourbon bbq sauce | mozzarella | dill pickle</td>
              <td>$25</td>
            </tr>
            <tr>
              <td style="width:70%"><i>Any pizza gluten free</i></td>
              <td><i>add $3.5</i></td>
            </tr>
          </table>
          </br>
          <table class="table">
            <tr>
              <th style="width:70%">Dessert</th>
              <th></th>
            </tr>
            <tr>
              <td style="width:70%">MASCARPONE PANNA COTTA</br>lemon myrtle curd, Italian meringue, pistachio dust</td>
              <td>$14</td>
            </tr>
            <tr>
              <td style="width:70%">THE BROKEN BEE-HIVE</br>‘bee one third’ & house honeycomb, lavender milk gel, dark chocolate ganache, beetroot, soil</td>
              <td>$16</td>
            </tr>
            <tr>
              <td style="width:70%">NOT YOUR MUM’S STRAWBERRIES & CREAM</br>Stanthorpe strawberries, meander valley clotted cream, basil, rose, freeze dried balsamic, house marshmellow</td>
              <td>$15</td>
            </tr>
            <tr>
              <td style="width:70%">THE WOODEN CHEESE BOARD</br>Our weekly selection of Australian cheeses with accompaniments & house lavosh</br><i>Waiter will advise</i></td>
              <td>$21</td>
            </tr>
            <tr>
              <th style="width:70%">To Accompany</th>
              <th></th>
            </tr>
            <tr>
              <td style="width:70%">Vasse Felix Cane Cut Semillon `13,</br>Margaret River WA</td>
              <td>$11</td>
            </tr>
            <tr>
              <td style="width:70%">Seppeltsfield Para Grand Tawny NV,</br>Barossa Valley SA</td>
              <td>$9</td>
            </tr>
            <tr>
              <td style="width:70%">Sottosopra Vino ed Amarene, Abruzzo ITA,</br>South Eastern AUS</td>
              <td>$15</td>
            </tr>
          </table>
          <%= link_to 'Download Our Menu (PDF)', menu_download_url, class: "btn btn-secondary btn-lg", style: "font-style:italic", alt: "", align: "right" %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="box">
      <div class="col-lg-12">
        <hr>
        <h2 class="intro-text text-center">Kids Menu</h2>
        <hr>
        <hr class="visible-xs">
        <p>
          </i>Don't you hate kids menus filled with junk food?
          </br>
          </br>
          We have done our very best to satisfy the little'ns and leave you with a clear conscience.
          </br>
          </br>
          (Available until 7:30 PM)
          </i>
        </p>
        <%= link_to 'Kids Menu (PDF)', menu_kids_url, class: "btn btn-secondary btn-lg", style: "font-style:italic", alt: "", align: "right" %>
      </div>
    </div>
  </div>
</div>
