<div class="container">
  <div class="row">
    <div class="box">
      <div class="col-lg-12">
        <hr>
        <h2 class="intro-text text-center">Our Food Menu</h2>
        <hr>
        <div class="table-responsive">
          <table class="table">
            <tr>
              <th style="width:70%">Entrees / Share Plates</th>
              <th></th>
            </tr>
            <tr>
              <td style="width:70%">HOUSE BAKED PANE SCIOCCO</br>w hickory smoked butter & nigella</td>
              <td>$7</td>
            </tr>
            <tr>
              <td style="width:70%">COFFIN BAY OYSTERS ‘shucked to order’</br>w pomegranate & nebbiolo verjus (G)</td>
              <td>$3.5 each</td>
            </tr>
            <tr>
              <td style="width:70%">SMOKED POTATO & MANCHEGO CROQUETTES</br>w green tomato & chilli salsa (V)</td>
              <td>$12</td>
            </tr>
            <tr>
              <td style="width:70%">DUCK LIVER PARFAIT</br>w Pedro Ximénez jelly, confit garlic crouton & seasonal pickles</td>
              <td>$14</td>
            </tr>
            <tr>
              <td style="width:70%">SPICY CHORIZO & KINKAWOOKA MUSSELS</br>in beer broth w basil, shallot, garlic, tomato & torn bread</td>
              <td>$15</td>
            </tr>
            <tr>
              <td style="width:70%">THE WOODEN MEAT BOARD #4</br>w Jamón Serrano, wild boar sausage, Spanish spreadable salami, manchego, house peppered grissini, wild olives & all the pickles</td>
              <td>$19</td>
            </tr>
          </table>
          </br>
          <table class="table">
            <tr>
              <th style="width:70%">The Main Event</th>
              <th></th>
            </tr>
            <tr>
              <td style="width:70%">PIG WITH APPLE</br>honey glazed belly pork w cider poached apple, charred witlof, veal jus & soubise (G)</td>
              <td>$34</td>
            </tr>
            <tr>
              <td style="width:70%">BUTTERMILK & HARISSA BBQ SPATCHCOCK</br>w shaved cucumber, pomegranate, feta, dill & almond salad (G)</td>
              <td>$32</td>
            </tr>
            <tr>
              <td style="width:70%">HOUSE MADE TAGLIATELLE</br>w black lip mussels, Cloudy Bay clams, garlic, chilli, tomato & parsley gremolata</td>
              <td>$33</td>
            </tr>
            <tr>
              <td style="width:70%">PAN SEARED MONKFISH</br>w crab bisque, chorizo, tomato, grilled prawn, smoked artichoke & green olive (G)</td>
              <td>$34</td>
            </tr>
            <tr>
              <td style="width:70%">WILD FOREST MUSHROOM RISOTTO</br>w truffle, hazelnut, sage & aged Pecorino Romano (V)(G)</td>
              <td>$29</td>
            </tr>
            <tr>
              <td style="width:70%">LOW & SLOW BEEF SHORTRIB</br>w duck fat kiplers, burnt butter-broccoli puree, onion petals, kale & pink peppercorn jus (G)</td>
              <td>$37</td>
            </tr>
          </table>
          </br>
          <table class="table">
            <tr>
              <th style="width:70%">Sides</th>
              <th>all $7</th>
            </tr>
            <tr>
              <td style="width:70%">charred market greens w lemon, shallot oil & smoked almond</td>
              <td></td>
            </tr>
            <tr>
              <td style="width:70%">tomato salad w sherry onion, olives, sumac & oregano</td>
              <td></td>
            </tr>
            <tr>
              <td style="width:70%">shaved cucumber salad w pomegranate, feta, dill & almond</td>
              <td></td>
            </tr>
            <tr>
              <td style="width:70%">rosemary salted shoestring fries w confit garlic mayo</td>
              <td></td>
            </tr>
          </table>
          </br>
          <table class="table">
            <tr>
              <th style="width:70%">Brick Oven Pizza</th>
              <th></th>
            </tr>
            <tr>
              <td style="width:70%">GARLIC FLAT BREAD</br>confit garlic | mozzarella | rosemary | smoked salt (V)</td>
              <td>$12</td>
            </tr>
            <tr>
              <td style="width:70%">MARGHERITA</br>tomato | garlic | buffalo mozzarella | basil (V)</td>
              <td>$16</td>
            </tr>
            <tr>
              <td style="width:70%">PEPPERONI</br>chilli | oven-dried tomato | mozzarella | oregano</td>
              <td>$18</td>
            </tr>
            <tr>
              <td style="width:70%">WARHORSE</br>napoli | white anchovy | olives | artichoke | capers | garlic</td>
              <td>$18</td>
            </tr>
            <tr>
              <td style="width:70%">THE VIKING</br>butternut pumpkin | Danish Viking blue cheese | spinach | green olive | sage (V)</td>
              <td>$18</td>
            </tr>
            <tr>
              <td style="width:70%">BLACK SHEEP</br>pulled lamb | beetroot | smoked goats cheese | onion | mint</td>
              <td>$20</td>
            </tr>
            <tr>
              <td style="width:70%">THE MATADOR</br>prawns | chorizo | garlic | baby tomato | sherry onion</td>
              <td>$22</td>
            </tr>
            <tr>
              <td style="width:70%">THE DRUNKEN PIG</br>pork belly | bacon | pepperoni | bourbon bbq sauce | mozzarella | dill pickle</td>
              <td>$22</td>
            </tr>
            <tr>
              <td style="width:70%"><i>Any pizza gluten free</i></td>
              <td><i>add $3</i></td>
            </tr>
            <tr>
              <td style="width:70%"><i>Extras</i></br>pork belly | pepperoni | chorizo | white anchovies</td>
              <td><i>add $3 each</i></td>
            </tr>
          </table>
          </br>
          <table class="table">
            <tr>
              <th style="width:70%">Desserts</th>
              <th></th>
            </tr>
            <tr>
              <td style="width:70%">BAKED CHÈVRE CHEESECAKE</br>w caramelised white chocolate, boozy Vincotto fig, candied pecans & burnt butter crumb</td>
              <td>$14</td>
            </tr>
            <tr>
              <td style="width:70%">LOS CRÈME CATALANA</br>w house baked biscotti & Freeze dried mandarin</td>
              <td>$14</td>
            </tr>
            <tr>
              <td style="width:70%">BANANA SEMIFREDDO</br>w dark chocolate soil, rosemary honey, banana chips & macadamia praline</td>
              <td>$14</td>
            </tr>
            <tr>
              <td style="width:70%">THE WOODEN CHEESE BOARD</br>Our weekly selection of Australian cheeses with accompaniments & house lavosh</br><i>Waiter will advise</i></td>
              <td>$19</td>
            </tr>
            <tr>
              <th style="width:70%">To Accompany</th>
              <th></th>
            </tr>
            <tr>
              <td style="width:70%">Vasse Felix Cane Cut Semillon `13,</br>Margaret River WA</td>
              <td>$10</td>
            </tr>
            <tr>
              <td style="width:70%">Seppeltsfield Para Grand Tawny NV,</br>Barossa Valley SA</td>
              <td>$8</td>
            </tr>
          </table>
          <%= link_to 'Download Our Menu (PDF)', menu_download_url, class: "btn btn-secondary btn-lg", style: "font-style:italic", alt: "", align: "right" %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="box">
      <div class="col-lg-12">
        <hr>
        <h2 class="intro-text text-center">Kids Menu</h2>
        <hr>
        <hr class="visible-xs">
        <p>
          </i>Don't you hate kids menus filled with junk food?
          </br>
          </br>
          We have done our very best to satisfy the little'ns and leave you with a clear conscience.
          </br>
          </br>
          (Available until 7:30 PM)
          </i>
        </p>
        <%= link_to 'Kids Menu (PDF)', menu_kids_url, class: "btn btn-secondary btn-lg", style: "font-style:italic", alt: "", align: "right" %>
      </div>
    </div>
  </div>
</div>
