<div class="container">
  <div class="row">
    <div class="box">
      <div class="col-lg-12">
        <hr>
        <h2 class="intro-text text-center">Our Food Menu</h2>
        <hr>
        <div class="table-responsive">
          <table class="table">
            <tr>
              <th style="width:70%">Entrees / Share Plates</th>
              <th></th>
            </tr>
            <tr>
              <td style="width:70%">MARKET OYSTERS ‘shucked to order’</br>pomegranate, chardonnayverjus</td>
              <td>$3.5ea</td>
            </tr>
            <tr>
              <td style="width:70%">HOUSE BAKED PANE SCIOCCO</br>‘bee one third’ honey, smoked butter, burnt vanilla</td>
              <td>$9</td>
            </tr>
            <tr>
              <td style="width:70%">HINTERLAND ZUCCHINI FLOWERS</br>scamorza, caramelised onion, harissa</td>
              <td>$6ea</td>
            </tr>
            <tr>
              <td style="width:70%">DEVILLED BEEF CROQUETAS</br>air-dried wagyu, egg, green goddess sauce</td>
              <td>$13</td>
            </tr>
            <tr>
              <td style="width:70%">DUCK LIVER PARFAIT</br>PX jelly, house pickle, truffle snow, torn bread</td>
              <td>$17</td>
            </tr>
            <tr>
              <td style="width:70%">THE WOODEN MEAT BOARD #6</br>smoked brisket pastrami, chilli & fennel lonza, spreadable pig, squid ink grissini, aged rosemary rind manchego, wild olives, house pickles</td>
              <td>$22</td>
            </tr>
          </table>
          </br>
          <table class="table">
            <tr>
              <th style="width:70%">Main</th>
              <th></th>
            </tr>
            <tr>
              <td style="width:70%">PIG WITH ONION</br>slow braised belly pork, soubise, onion petal, ash,red wine pear, pencil leek, pig sauce</td>
              <td>$36</td>
            </tr>
            <tr>
              <td style="width:70%">SPICED PUMPKIN & FETA AGNOLOTTI</br>honey walnut, wilted spinach, burnt garlic & marjoram butter, cured egg yolk, aged parmesan</td>
              <td>$34</td>
            </tr>
            <tr>
              <td style="width:70%">SCALLOPS & SNAILS</br>King Island scallops, glass house mountain snails, capellini, garlic, smoked roe butter emulsion, chervil</td>
              <td>$38</td>
            </tr>
            <tr>
              <td style="width:70%">BBQ SPRING CHICKEN</br>char-grilledspatchcock, spring peas, triple smoked pig, goats curd, pomegranate molasses, almond, mint</td>
              <td>$35</td>
            </tr>
            <tr>
              <td style="width:70%">DUCK WITH ROOTS</br>Confit duck leg, carrot puree, golden syrup glazed parsnip, pickled baby roots, mandarin caviar, pistachio shard</td>
              <td>$37</td>
            </tr>
            <tr>
              <td style="width:70%">DARLING DOWNS WAGYU RIB FILLET</br>marble score of 7+, smoke & flame, Italian slaw, shoestring, porcini butter, veal bone jus</td>
              <td>$48</td>
            </tr>
          </table>
          </br>
          <table class="table">
            <tr>
              <th style="width:70%">Sides</th>
              <th></th>
            </tr>
            <tr>
              <td style="width:70%">porcini salted shoestring fries, confit garlic mayo</td>
              <td>$9</td>
            </tr>
            <tr>
              <td style="width:70%">Italian slaw</td>
              <td>$8</td>
            </tr>
            <tr>
              <td style="width:70%">spring pea salad</td>
              <td>$8</td>
            </tr>
            <tr>
              <td style="width:70%">char-grilled market greens</td>
              <td>$10</td>
            </tr>
            <tr>
              <td style="width:70%">torn house pane sciocco, olive oil, smoked salt </td>
              <td>$6</td>
            </tr>
          </table>
          </br>
          <table class="table">
            <tr>
              <th style="width:70%">Brick Oven Pizza</th>
              <th></th>
            </tr>
            <tr>
              <td style="width:70%">GARLIC FLAT BREAD</br>confit garlic | mozzarella | rosemary | smoked salt (V)</td>
              <td>$14</td>
            </tr>
            <tr>
              <td style="width:70%">MARGHERITA</br>tomato | fior de latte| basil</td>
              <td>$18</td>
            </tr>
            <tr>
              <td style="width:70%">PEPPERONI</br>garlic |chilli | oven-dried tomato | mozzarella | oregano</td>
              <td>$20</td>
            </tr>
            <tr>
              <td style="width:70%">WARHORSE</br>napoli | white anchovy | olives | artichoke | capers | air-dried beef</td>
              <td>$21</td>
            </tr>
            <tr>
              <td style="width:70%">THE VIKING</br>butternut pumpkin | danish viking blue cheese | spinach | green olive | sage</td>
              <td>$20</td>
            </tr>
            <tr>
              <td style="width:70%">BLACK SHEEP</br>pulled lamb | beetroot | smoked goats cheese | onion | mint</td>
              <td>$22</td>
            </tr>
            <tr>
              <td style="width:70%">THE MATADOR</br>prawns | chorizo | baby tomato | sherry onion | manchego |coriander</td>
              <td>$24</td>
            </tr>
            <tr>
              <td style="width:70%">THE DRUNKEN PIG</br>pork belly | bacon | pepperoni | bourbon bbq sauce | mozzarella | dill pickle | chilli</td>
              <td>$24</td>
            </tr>
            <tr>
              <td style="width:70%"><i>Any pizza gluten free</i></td>
              <td><i>add $3.5</i></td>
            </tr>
          </table>
          </br>
          <table class="table">
            <tr>
              <th style="width:70%">Dessert</th>
              <th></th>
            </tr>
            <tr>
              <td style="width:70%">MASCARPONE PANNA COTTA</br>lemon myrtle curd, Italian meringue, pistachio dust</td>
              <td>$14</td>
            </tr>
            <tr>
              <td style="width:70%">THE BROKEN BEE-HIVE</br>‘bee one third’ & house honeycomb, lavender milk gel, dark chocolate ganache, beetroot, soil</td>
              <td>$16</td>
            </tr>
            <tr>
              <td style="width:70%">NOT YOUR MUM’S STRAWBERRIES & CREAM</br>Stanthorpe strawberries, meander valley clotted cream, basil, rose, freeze dried balsamic, house marshmellow</td>
              <td>$15</td>
            </tr>
            <tr>
              <td style="width:70%">THE WOODEN CHEESE BOARD</br>Our weekly selection of Australian cheeses with accompaniments & house lavosh</br><i>Waiter will advise</i></td>
              <td>$21</td>
            </tr>
            <tr>
              <th style="width:70%">To Accompany</th>
              <th></th>
            </tr>
            <tr>
              <td style="width:70%">Vasse Felix Cane Cut Semillon `13,</br>Margaret River WA</td>
              <td>$10</td>
            </tr>
            <tr>
              <td style="width:70%">Seppeltsfield Para Grand Tawny NV,</br>Barossa Valley SA</td>
              <td>$8</td>
            </tr>
            <tr>
              <td style="width:70%">Penfolds Grandfather Rare Tawny NV,</br>South Eastern AUS</td>
              <td>$22</td>
            </tr>
          </table>
          <%= link_to 'Download Our Menu (PDF)', menu_download_url, class: "btn btn-secondary btn-lg", style: "font-style:italic", alt: "", align: "right" %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="box">
      <div class="col-lg-12">
        <hr>
        <h2 class="intro-text text-center">Kids Menu</h2>
        <hr>
        <hr class="visible-xs">
        <p>
          </i>Don't you hate kids menus filled with junk food?
          </br>
          </br>
          We have done our very best to satisfy the little'ns and leave you with a clear conscience.
          </br>
          </br>
          (Available until 7:30 PM)
          </i>
        </p>
        <%= link_to 'Kids Menu (PDF)', menu_kids_url, class: "btn btn-secondary btn-lg", style: "font-style:italic", alt: "", align: "right" %>
      </div>
    </div>
  </div>
</div>
