<div class="container">
    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">Our Menu</h2>
                <hr>
                <hr class="visible-xs">
                <table class="table">
                	<tr>
                		<th style="width:70%">Entrees / Share Plates</th>
                		<th></th>
                	</tr>
                	<tr>
                		<td style="width:70%">House Cob Load</br>w smoked butter or aged olive oil & dukkha</td>
                		<td>$6<td>
                	<tr>
                	<tr>
                		<td style="width:70%">Croquetas de Jamón</td>
                		<td>$10<td>
                	<tr>
                	<tr>
                		<td style="width:70%">BBQ Baby Squid</br>w roasted lemon aioli & coriander</td>
                		<td>$10<td>
                	<tr>
                	<tr>
                		<td style="width:70%">Grilled Buffalo Milk Haloumi</br>w marinated eggplant, spiced date chutnet & mint</td>
                		<td>$10<td>
                	<tr>
                    <tr>
                        <td style="width:70%">Spanish Sizzling Prawns & Chorizo</br>w garlic, chilli, tomato & sherry</td>
                        <td>$13<td>
                    <tr>
                	<tr>
                		<td style="width:70%">The Wooden Meat Board</br>w wagyu bresaola, serrano, manchego, pickles & house grissini</td>
                		<td>$13<td>
                	<tr>				
                </table>
            </br>
                <table class="table">
                	<tr>
                		<th style="width:70%">Mains</th>
                		<th></th>
                	</tr>
                	<tr>
                		<td style="width:70%">Slow Confit Pork Belly</br>w honey carrot puree, roasted onion, poached pear & orange thyme sauce</td>
                		<td>$30<td>
                	<tr>
                	<tr>
                		<td style="width:70%">Corn Fed Crispy Skin Chicken Breast</br>w house made wild mushroom gnocchi, grilled asparagus & truffle cream sauce</td>
                		<td>$28<td>
                	<tr>
                	<tr>
                		<td style="width:70%">Red Wine Braised Lamb Shanks</br>w smoked potato, baby beetroot, charred kale, truss tomato & braising juices</td>
                		<td>$28<td>
                	<tr>
                	<tr>
                		<td style="width:70%">House-made Angel Hair Pasta</br>w prawn, squid, garlic oil, chilli, tomato & white wine</td>
                		<td>$28<td>
                	<tr>
                	<tr>
                		<td style="width:70%">House Pumpkin & Fetta Ravioli</br>w spinach, burnt sage butter, honey walnut & aged parmesan</td>
                		<td>$26<td>
                	<tr>
                	<tr>
                		<td style="width:70%">250g Chargrilled Angus Rib Fillet</br>w rosemary French fries, cress salad, Rockefeller sauce & jus</td>
                		<td>$32<td>
                	<tr>				
                </table>
                <table class="table">
                	<tr>
                		<th style="width:70%">Sides</th>
                		<th>all $6</th>
                	</tr>
                	<tr>
                		<td style="width:70%">Lemon butter market greens</td>
                		<td><td>
                	<tr>
                	<tr>
                		<td style="width:70%">Rosemary French fries</td>
                		<td><td>
                	<tr>
                	<tr>
                		<td style="width:70%">Truss tomato, torn basil & mozzarella salad</td>
                		<td><td>
                	<tr>
                	<tr>
                		<td style="width:70%">Smoked potato mash w jus</td>
                		<td><td>
                	<tr>			
                </table>
                <table class="table">
                	<tr>
                		<th style="width:70%">Pizzas</th>
                		<th></th>
                	</tr>
                	<tr>
                		<td style="width:70%">Garlic Flat Bread</br>garlic oil | mozzarella | rosemary | smoked salt | cracked pepper</td>
                		<td>$12<td>
                	<tr>
                	<tr>
                		<td style="width:70%">Margherita</br>tomato | garlic | buffalo mozzarella | basil</td>
                		<td>$15<td>
                	<tr>
                	<tr>
                		<td style="width:70%">Pepperoni</br>chilli | oven-dried tomato | mozzarella | oregano</td>
                		<td>$16<td>
                	<tr>
                	<tr>
                		<td style="width:70%">Chicken & Chorizo</br>pumpkin | fetta | pine nut | mojo verdee</td>
                		<td>$18<td>
                	<tr>
                	<tr>
                		<td style="width:70%">Al Fungi</br>wild mushroom | spinach | parmesan | truffle | mozzarella</td>
                		<td>$18<td>
                	<tr>
                	<tr>
                		<td style="width:70%">Pulled Lamb</br>Napoli sauce | rosemary potato | sorrel | roast lemon aioli</td>
                		<td>$18<td>
                	<tr>	
                	<tr>
                		<td style="width:70%">The Wooden Pig</br>pork belly | smoked bacon | pepperoni | bourbon bbq sauce | mozzarella</td>
                		<td>$19<td>
                	<tr>	
                	<tr>
                		<td style="width:70%"><i>Any pizza gluten free</i></td>
                		<td><i>add $3</i><td>
                	<tr>	
                	<tr>
                		<td style="width:70%"><i>Extras</i></br>chicken | pork belly | pepperoni | chorizo | anchovies</td>
                		<td><i>add $3 each</i><td>
                	<tr>		
                </table>
                <table class="table">
                	<tr>
                		<th style="width:70%">Desserts</th>
                		<th></th>
                	</tr>
                	<tr>
                		<td style="width:70%">White Chocolate Panna Cotta</br>w lemoncello curd, Italian meringue & pistachio</td>
                		<td>$12<td>
                	<tr>
                	<tr>
                		<td style="width:70%">Warm Spanish Churros</br>w cinnamon chilli sugar & dark chocolate dipping sauce</td>
                		<td>$12<td>
                	<tr>
                	<tr>
                		<td style="width:70%">Vanilla Bean Crème Brûlée</br>w amaretto biscuit</td>
                		<td>$12<td>
                	<tr>
                	<tr>
                		<td style="width:70%">The Wooden Cheese Board</br>Dane & Morgan’s weekly selection of Australian cheeses with condiments & house lavosh</td>
                		<td>$16<td>
                	<tr>			
                </table>
                <%= link_to 'Download our Menu', menu_download_url, class: "btn btn-default btn-lg btn-block", alt: "", align: "right" %>
            </div>
        </div>
    </div>
</div>
