<footer>
<div class="hidden-xs hidden-sm">
    <%= image_tag 'textblackontransparent.png', style:"opacity: 0.9; width:25%; height: 25%; display: block; margin-left: auto; margin-right: auto;", alt: "" %>
</div>
<div class="hidden-lg hidden-md">
    <%= image_tag 'textblackontransparent.png', style:"opacity: 0.9; width:40%; height: 40%; display: block; margin-left: auto; margin-right: auto;", alt: "" %>
</div>
  <div class="container">
    <section id="contact" class="container content-section text-center">
      <ul class="list-inline banner-social-buttons">
        <li>
          <a href="#" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
        </li>
        <li>
          <a href="#" class="btn btn-default btn-lg"><i class="fa fa-facebook-official"></i> <span class="network-name">Facebook</span></a>
        </li>
        <li>
          <a href="#" class="btn btn-default btn-lg"><i class="fa fa-instagram"></i> <span class="network-name">Instagram</span></a>
        </li>
      </ul>
    </section>
  </div>
</footer>
