<div class="container">
  <div class="row">
    <div class="box" style="margin-bottom:0px; padding-top:0px; padding-bottom:0px">
      <%=image_tag 'textblackontransparentbord.png', style: "opacity: 0.65; width:45%; height: 45%; display: block; margin-left: auto; margin-right: auto;" %>
      <ul class="list-inline banner-social-buttons" style="text-align:center;">
        <li>
          <a href="#" class="btn btn-secondary btn-lg" style="padding-top:0px padding-bottom:0px"><i class="fa fa-twitter fa-2x"></i> <span class="network-name"></span></a>
        </li>
        <li>
          <a href="https://www.facebook.com/woodenhorserestaurant" class="btn btn-secondary btn-lg" target="_blank" style="padding-top:0px padding-bottom:0px"><i class="fa fa-facebook-official fa-2x"></i><span class="network-name"></span></a>
        </li>
        <li>
          <a href="#" class="btn btn-secondary btn-lg" style="padding-top:0px; padding-bottom:0px"><i class="fa fa-instagram fa-2x"></i><span class="network-name"></span></a>
        </li>
      </ul>
      <ul class="list-inline banner-social-buttons" style="text-align:center;">
        <li>
          <p><i class="fa fa-phone"></i><i>&nbsp;Phone: (07) 3857 3893</i></p>
        </li>
        <li>
          <p><i class="fa fa-envelope-o"></i><i>&nbsp;Email: info@woodenhorserestaurant.com.au</i></p>
        </li>
      </ul>
    </div>
  </div>
</div>
