    <!-- Header -->
    <header>
        <div class="container">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators hidden-xs">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                </ol>

                <!-- Wrapper for slides -->

                <!-- Pixlr Editor used to get images to 1200 x 480 -->
                <div class="carousel-inner">
                    <div class="item active">
                        <%= image_tag "food_4.jpg", class: "img-responsive img-full"%>
                    </div>
                    <div class="item">
                        <%= image_tag "food_5.jpg", class: "img-responsive img-full" %>
                    </div>
                    <div class="item">
                        <%= image_tag "food_6.jpg", class: "img-responsive img-full"%>
                    </div>
                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                    <span class="icon-prev"></span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                    <span class="icon-next"></span>
                </a>
            </div>

            <div class="intro-text">
                <div class="intro-lead-in">Welcome To Our Restaurant!</div>
            </div>
        </div>
    </header>