<div class="container">
  <div class="row">
    <div class="box">
      <hr>
      <h2 class="intro-text text-center">Make a Booking</h2>
      <hr>
      <p>Would you like to make a booking? Book online now or give one of our friendly staff a call on (07) 3857 3893.</p>
      <div class="dimmi-widget">
        <iframe src="https://www.dimmi.com.au/make-booking/wooden-horse-restaurant-and-bar?mode=Widget&showHeader=false"
            frameborder="0"
            allowfullscreen>
        </iframe>
      </div>
    </div>
  </div>
</div>
<script src="https://www.dimmi.com.au/embed/iframe-script?restaurantId=31923"></script>
<link rel="stylesheet" type="text/css" href="https://www.dimmi.com.au/embed/iframe-styles?width=820&height=800&restaurantId=31923">
