<div class="container">
  <div class="row">
    <div class="box">
      <div class="col-lg-12 text-center">
        <h3>Welcome to&nbsp;<span itemprop="name">Wooden Horse Restaurant</span>&nbsp;& Bar</h3>
        <br>
        <div class="row">
          <div class="col-md-6">
            <p>In 2017 Wooden Horse Restaurant & Bar has teamed up with UberEATS Australia to not only cook your favourite pizzas but also deliver them to your door. Would you like fries with that? Not a problem. Jump on the bandwagon and spread the love people!</p>
            <br>
            <p>Also feel free to visit our gallery to preview our great food.</p>
            <br>
            <p>But don't take our word for it, check out what some other people have had to say:</p>
            <ul class="text-left">
              <li>
                <a href="http://theweekendedition.com.au/stumble-guide/wooden-horse-restaurant-and-bar/" target="_blank">The Weekend Edition</a>
              </li>
              <li>
                <a href="http://www.mustdobrisbane.com/eat-drink-restaurants-north-clayfield/wooden-horse-restaurant-bar-clayfield" target="_blank">Must Do Brisbane</a>
              </li>
              <li>
                <a href="http://holeinthewallbrisbane.com/2015/08/15/wooden-horse-restaurant-clayfield-review/" target="_blank">Hole in the Wall Brisbane</a>
              </li>
              <li>
                <a href="http://www.brisbanenews.com.au/issues/1054/index.html" target="_blank">Brisbane News - Issue 1054 (Page 9)</a>
              </li>
            </ul>
            <br>
            <p>Please give us a call on (07) 3857 3893 to book a table now.</p>
            </br>
          </div>
          <div class="col-md-6">
            <%=image_tag 'home_page_edit_2.jpg', class: "img-responsive", style: "margin: auto; width:90%; opacity: 0.8;"%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <%=image_tag 'iconwhiteontransparent_s.png', class: "img-responsive", style: "display:block; margin: 0 auto; width:80%; height: 80%; opacity: 0.8;"%>
      </br>
    </div>
  </div>
</div>
<!-- /.container -->
