<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You have recieved a new enquiry from <%= @contact.name %></h1>
    <p>Their message is as follows: <%= @contact.message %></p>
    <p>Their contact details are as follows:</p>
    <p>Phone: <%= @contact.phone %></p>
    <p>Email: <%= @contact.email %></p>
    </br>
    <p>Please contact them ASAP regarding this enquiry</p>
    </br>
    <p>Kind Regards,</p>
    <p><i>Your Automated Emailer</i></p>
  </body>
</html>